/* primart color = #0f1710 */
/* secondary color =  #1a242f*/
/* font = #FFFFFF */
/* FONT = #79B8F3 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: #0f1710;

}
.container{
    margin: 0px 40px;
}

.header{
    background-color: #1a242f;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}

.userimg, .userimg img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.footer{
    background: #1a242f;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.movie-list, h2{
    margin:20px 0px;
    color: #79B8F3;
    margin-bottom: 10px;
    font-weight: 400;
}

.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}
.card-item{
    background: #1a242f;
    cursor: pointer;
}

.card-top{
    height:300px;
}

.card-top img{
    width: 100%;
    height: 100%;
}

.card-info{
    color: #FFFFFF;
}

.card-info h4{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-bottom{
    padding: 20px;
}
